os: linux
dist: trusty

services: docker

language: shell

branches:
  only:
    - master
    - develop

before_script:
  - env | sort
  - dir="images/${VERSION}/${VARIANT}"
  - export TAG=travis
  - export VCS_REF=`git rev-parse --short HEAD`
  - export BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"`
  - export IMAGE_NAME=docker-matomo

script:
  - cd "$dir"
  # Test containers build
  - docker-compose -f docker-compose.yml build
  - docker images
  # Test containers run
  - travis_retry docker-compose -f docker-compose.yml up -d && sleep 60
  - docker-compose -f docker-compose.yml ps
  - docker-compose -f docker-compose.yml logs "matomodb"
  - docker-compose -f docker-compose.yml ps "matomodb" | grep "Up"
  - docker-compose -f docker-compose.yml logs "matomo"
  - docker-compose -f docker-compose.yml ps "matomo" | grep "Up"
  - echo 'Wait until containers init and tests are over' && sleep 60
  - docker-compose -f docker-compose.yml logs "sut"
  #- docker-compose -f docker-compose.yml ps "sut" | grep "Exit 0"
  # Test containers can be dropped and restarted
  - docker-compose -f docker-compose.yml down
  - travis_retry docker-compose -f docker-compose.yml up -d && sleep 60
  - docker-compose -f docker-compose.yml ps
  - docker-compose -f docker-compose.yml logs "matomodb"
  - docker-compose -f docker-compose.yml ps "matomodb" | grep "Up"
  - docker-compose -f docker-compose.yml logs "matomo"
  - docker-compose -f docker-compose.yml ps "matomo" | grep "Up"
  - echo 'Wait until containers init and tests are over' && sleep 60
  - docker-compose -f docker-compose.yml logs "sut"
  #- docker-compose -f docker-compose.yml ps "sut" | grep "Exit 0"

notifications:
  email: false

matrix:
  allow_failures:
    - env: VERSION=3.12 VARIANT=fpm-alpine
    - env: VERSION=3.12 VARIANT=fpm
    - env: VERSION=3.12 VARIANT=apache
  
env: # Environments
    - VERSION=3.9 VARIANT=fpm-alpine
    - VERSION=3.9 VARIANT=fpm
    - VERSION=3.9 VARIANT=apache
    - VERSION=3.10 VARIANT=fpm-alpine
    - VERSION=3.10 VARIANT=fpm
    - VERSION=3.10 VARIANT=apache
    - VERSION=3.11 VARIANT=fpm-alpine
    - VERSION=3.11 VARIANT=fpm
    - VERSION=3.11 VARIANT=apache
    - VERSION=3.12 VARIANT=fpm-alpine
    - VERSION=3.12 VARIANT=fpm
    - VERSION=3.12 VARIANT=apache
    - VERSION=3.13 VARIANT=fpm-alpine
    - VERSION=3.13 VARIANT=fpm
    - VERSION=3.13 VARIANT=apache
